@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";





.background-image{
    background-image: url('https://cdn.pixabay.com/photo/2015/09/09/20/23/printer-933098_960_720.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
}

.icon-cog{
    display: inline-block;
    width: 1.8rem;
    fill: #fff;
    transition: .3s;
    cursor: pointer;
}

.icon-cog:hover {
    fill: #38d39f;
}
  
.rotate-icon-cog {    
    transform: rotate(90deg);
    transform-origin: center;
}

.home-dropdown-menu nav{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
    clip-path: inset(0px 0px -15px -15px);
    background-color: rgb(47, 61, 79);
}

.home-dropdown-menu nav ul li {
    padding: 0.6rem 2rem;
    cursor: pointer;
    
}

.home-dropdown-menu nav ul li:hover {
    background-color: #35455b;
}
  
.show {
    transition: .3s;
    transform: translateX(0%);
}

.hide {
    transition: .3s;
    transform: translateX(110%);   
}





@media (min-width: 1900px) {

    .container {
      max-width: 1900px;
    }
}

@media (min-width: 640px) {

    .home-dropdown-menu nav ul li {
        padding: 0.7rem 3rem;        
    }
}
